inferno1.PNG
inferno2.PNG
inferno3.PNG
EspecDSX.txt
LAIG1_T6_G8.zip
LAIG1_T6_G8/README.txt
LAIG1_T6_G8/lib/CGF.js
LAIG1_T6_G8/lib/CGF/shaders/Gouraud/fragment.glsl
LAIG1_T6_G8/lib/CGF/shaders/Gouraud/lambert-vertex.glsl
LAIG1_T6_G8/lib/CGF/shaders/Gouraud/multiple_light-vertex.glsl
LAIG1_T6_G8/lib/CGF/shaders/Gouraud/textured/fragment.glsl
LAIG1_T6_G8/lib/CGF/shaders/Gouraud/textured/multiple_light-vertex.glsl
LAIG1_T6_G8/lib/CGF/shaders/Phong/multiple_light-phong-fragment.glsl
LAIG1_T6_G8/lib/CGF/shaders/Phong/multiple_light-phong-vertex.glsl
LAIG1_T6_G8/lib/CGF/shaders/Phong/phong-fragment.glsl
LAIG1_T6_G8/lib/CGF/shaders/Phong/phong-vertex.glsl
LAIG1_T6_G8/lib/CGF/shaders/picking/fragment.glsl
LAIG1_T6_G8/lib/CGF/shaders/picking/vertex.glsl
LAIG1_T6_G8/reader/MyInterface.js
LAIG1_T6_G8/reader/MySceneGraph.js
LAIG1_T6_G8/reader/XMLscene.js
LAIG1_T6_G8/reader/index.html
LAIG1_T6_G8/reader/main.js
LAIG1_T6_G8/reader/parser/Component.js
LAIG1_T6_G8/reader/parser/Illumination.js
LAIG1_T6_G8/reader/parser/Material.js
LAIG1_T6_G8/reader/parser/OmniLight.js
LAIG1_T6_G8/reader/parser/Prim_Cylinder.js
LAIG1_T6_G8/reader/parser/Prim_Rectangle.js
LAIG1_T6_G8/reader/parser/Prim_Sphere.js
LAIG1_T6_G8/reader/parser/Prim_Torus.js
LAIG1_T6_G8/reader/parser/Prim_Triangle.js
LAIG1_T6_G8/reader/parser/SpotLight.js
LAIG1_T6_G8/reader/parser/Texture.js
LAIG1_T6_G8/reader/parser/Transformation.js
LAIG1_T6_G8/reader/parser/View.js
LAIG1_T6_G8/reader/primitives/MyCircle.js
LAIG1_T6_G8/reader/primitives/MyComponent.js
LAIG1_T6_G8/reader/primitives/MyCylinder.js
LAIG1_T6_G8/reader/primitives/MyCylinderWithTops.js
LAIG1_T6_G8/reader/primitives/MyRectangle.js
LAIG1_T6_G8/reader/primitives/MySphere.js
LAIG1_T6_G8/reader/primitives/MyTorus.js
LAIG1_T6_G8/reader/primitives/MyTriangle.js
LAIG1_T6_G8/reader/primitives/board.png
LAIG1_T6_G8/reader/primitives/carrotsPattern.png
LAIG1_T6_G8/reader/resources/images/carpet.jpg
LAIG1_T6_G8/reader/resources/images/carrotsPattern.png
LAIG1_T6_G8/reader/resources/images/darkwood.jpg
LAIG1_T6_G8/reader/resources/images/heaven.jpg
LAIG1_T6_G8/reader/resources/images/hell.jpg
LAIG1_T6_G8/reader/resources/images/hell2.jpg
LAIG1_T6_G8/reader/resources/images/hell3.jpg
LAIG1_T6_G8/reader/resources/images/hell4.jpg
LAIG1_T6_G8/reader/resources/images/hellground.jpg
LAIG1_T6_G8/reader/resources/images/illuminatieye.jpg
LAIG1_T6_G8/reader/resources/images/redmetal.jpg
LAIG1_T6_G8/reader/resources/images/sauroneye.jpg
LAIG1_T6_G8/reader/scenes/inferno.dsx
